[submodule "ut-dining-scraper"]
	path = ut-dining-scraper
	url = https://github.com/ethanl06/ut-dining-scraper
[submodule "ut-dining-dashboard"]
	path = ut-dining-dashboard
	url = https://github.com/ethanl06/ut-dining-dashboard
